/* General Styles */
body {
  font-family: 'Georgia', serif;
  background-color: #fae8e0;
  color: #3e0d0a;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

header {
  margin-top: 20px;
}

h1 {
  font-size: 2em;
  color: #3e0d0a;
  text-align: center;
}

/* Container Layout */
.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1000px;
  gap: 5px;
}

.section {
  background-color: #8b4441;
  border-radius: 15px;
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fae8e0;
}

/* Goals Section */
.goals-section h2 {
  font-size: 1.2em;
}

#goalsList {
  list-style: none;
  padding: 0;
  width: 100%;
}

#goalsList li {
  background-color: #fae8e0;
  color: #8b4441;
  padding: 8px;
  border-radius: 10px;
  margin: 5px 0;
  text-align: center;
}

#openGoalModal {
  background-color: #fae8e0;
  color: #8b4441;
  font-size: 1.5em;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

/* Tasks Section */
.tasks-section h2 {
  font-size: 1.2em;
}

#tasksList {
  width: 100%;
}

.task-item {
  background-color: #fae8e0;
  color: #8b4441;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-details {
  font-size: 0.9em;
}

.add-task-button {
  background-color: #fae8e0;
  color: #8b4441;
  font-size: 1.5em;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

/* Pomodoro Section */
.pomodoro-section h2 {
  font-size: 1.2em;
  margin: 0;
}

#pomodoroTimer, #stopwatchTimer {
  background-color: #fae8e0;
  color: #8b4441;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0;
  text-align: center;
  width: 80%;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #8b4441;
  color: #fae8e0;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
}

.close {
  color: #fae8e0;
  float: right;
  font-size: 1.5em;
  cursor: pointer;
}
